@import url("https://fonts.googleapis.com/css2?family=Anton&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+CO+Guides&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", ui-sans-serif;
}

.anton {
  font-family: "Anton";
}

.Playwrite {
  font-family: "Playwrite CO Guides", cursive;
}

.gradient-bg {
  background-color: #a599ff;
  background-image: radial-gradient(
      at 78% 78%,
      hsla(210, 93%, 65%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 99% 61%, hsla(165, 87%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 59% 80%, hsla(277, 93%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 2% 54%, hsla(190, 89%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 53% 48%, hsla(358, 66%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 40% 38%, hsla(152, 61%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 70% 54%, hsla(343, 73%, 77%, 1) 0px, transparent 50%);
}

.custom-dimension {
  width: 1260px;
  hieght: 580px;
}

.glassy {
  /* From https://css.glass */
  background-color: transparent;
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
}

.glassyDark {
  background: rgb(16 15 15 / 20%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
